h3 {
    font-size: 2em;
    color: #9c2a2a;
    text-align: center;
  }
  .katologie-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }
  .katologie {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 250px; /* responsive Karten */
    max-width: 300px;
  }